*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #dbdbdb;
}
main{
    max-width: 1500px;
    margin: 0 auto;
}
main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 30px;
    flex-wrap: wrap;
    background-color: #ecfecf;
    position: sticky;
    top: 0;
    border-bottom: 3px solid #194029;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
main .header .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #194029;
}
main .header .logo h1{
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main .header .user{
    display: flex;
    align-items: center;
    gap: 15px;
    text-transform: capitalize;
    font-size: 15px;
    color: #194029;
}
main .header .user img {
    border-radius: 50%;
    border: 1px solid #19402994;
}
main .header .user span{
    font-size: 14px;
    color: #6a6b6aa6;
}
main .header .user button{
    background: transparent;
    outline: none;
    border: none;
    color: #6f706dcc;
    font-size: 25px;
    transform: rotate(-90deg);
}
main .header .info {
    color: #194029;
}
main .header .info #sucursal{
    padding: 5px;
    font-size: 15px;
}

main .content-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 125px);
}

main .content-body .options{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background-color: #194029;
    padding-right: 15px;
}
main .content-body .operations{
    flex: 1;
    padding: 20px;
}
main .content-body .options ul li {
    list-style: none;
    padding: 5px;
    margin: 5px 0;
    border-bottom: 2px solid transparent;
    margin-left: 0;
    color: #ecfecf;
}
main .options ul a{
    text-decoration: none;
}
main .content-body .options ul li:hover {
    border-bottom: 2px solid #ecfecf;
    color: #ecfecf;
    cursor: pointer;
}
.send-info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #194029;
}
form{
    display: flex;
    flex-direction: column;
}
form fieldset {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form fieldset .cliente-sending{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
form fieldset legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form fieldset label {
    display: inline-block;
    font-size: 18px;
    margin-top: 15px;
}
form fieldset input{
    border: 1px solid #194029;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
    width: 260px;
    margin-right: 20px;
}
select {
    border: 1px solid #194029;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
    width: 260px;
}

form fieldset span{
    color: #c20202
}

form button{
    align-self: center;
    font-size: 20px;
    margin: 15px 0;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    border: 2px solid #194029;
    color: #ffffff;
    background: #194029;
    transition: all 0.5s ease-out;
}
form button:hover{
    color: #194029;
    border: 2px solid #194029;
    background: #ffffff;
    cursor: pointer;
}
/*Para consulta de transfers*/
form h2{
    color: #194029;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 7px 0;
}
form p{
    color: #194029;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
form .mode-consult{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 7px;
    gap: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
form .mode-consult input{
    font-size: 16px;
    border: 1px solid #194029;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
    width: 260px;
    margin-right: 20px;
}
input:focus {
    outline: 2px solid #194029b6; /* Outline azul al hacer foco */
}
select:focus {
    outline: 2px solid #194029b6; /* Outline azul al hacer foco */
}
/*Para resiltados dela busqueda*/
.data-transfers-get{
    color: #194029;
}
.data-transfers-get h1{
    padding: 5px;
}
table {
    width: 100%; /* Ancho de la tabla */
    border-collapse: collapse; /* Para quitar el espacio entre celdas */
}

table th, table td {
    border: 1px solid #ecfecf; /* Borde de las celdas */
    padding: 8px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}
table td img:hover{
    border: 2px solid #1940299a;
    border-radius: 50%;
    cursor: pointer;
}

table th {
    background-color: #194029; /* Color de fondo de los encabezados */
    color: #ecfecf; /* Color del texto de los encabezados */
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para filas pares */
}

table tr:hover {
    background-color: #19402969; /* Color de fondo al pasar el ratón */
    color: #070606;
}


.footer{
    font-size: 16px;
    background: #dbdbdb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: 3px solid #194029;
    color: #194029;
}

.footer .social-media img{
    margin: 0 8px;
}