* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dbdbdb;
}

main {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}

main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 30px;
    flex-wrap: wrap;
    background-color: #ecfecf;
    position: sticky;
    top: 0;
    border-bottom: 3px solid #194029;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

main .header .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #194029;
}

main .header .logo h1 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main .header .user {
    display: flex;
    align-items: center;
    gap: 15px;
    text-transform: capitalize;
    font-size: 15px;
    color: #194029;
}
main .header .user:hover {
    cursor: pointer;
    color: #194029;
}
main .header .user img {
    border-radius: 50%;
    border: 1px solid #19402994;
}

main .header .user span {
    font-size: 14px;
    color: #6a6b6aa6;
}

main .header .user button {
    background: transparent;
    outline: none;
    border: none;
    color: #6f706dcc;
    font-size: 25px;
    transform: rotate(-90deg);
}
main .header .user button:hover {
    cursor: pointer;
    color: #194029;
}
main .header .info {
    color: #194029;
}

main .header .info #sucursal {
    padding: 5px;
    font-size: 15px;
}

main .content-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 110px);
}

main .content-body .options {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background-color: #194029;
    padding-right: 15px;
}

main .content-body .operations {
    flex: 1;
    padding: 20px;
}

main .content-body .options ul li {
    list-style: none;
    padding: 5px;
    margin: 5px 0;
    border-bottom: 2px solid transparent;
    margin-left: 0;
    color: #ecfecf;
}

main .options ul a {
    text-decoration: none;
}

main .content-body .options ul li:hover {
    border-bottom: 2px solid #ecfecf;
    color: #ecfecf;
    cursor: pointer;
}

.send-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #194029;
}

form {
    display: flex;
    flex-direction: column;
}

form fieldset {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form fieldset .cliente-sending {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

form fieldset legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form fieldset label {
    display: inline-block;
    font-size: 18px;
    margin-top: 15px;
}

form fieldset input {
    border: 1px solid #194029;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
    width: 260px;
    margin-right: 20px;
}

select {
    border: 1px solid #194029;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
    width: 260px;
}

form fieldset .cliente-sending .textarea {
    display: flex;
    flex-direction: column;
}

form fieldset .cliente-sending .textarea textarea {
    border-radius: 7px;
    padding: 5px;
    font-size: 18px;
    width: 260px;
    resize: none;
    text-transform: capitalize;
}

form fieldset span {
    color: #c20202
}

form button {
    align-self: center;
    font-size: 20px;
    margin: 15px 0;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    border: 2px solid #194029;
    color: #ffffff;
    background: #194029;
    transition: all 0.5s ease-out;
}
.btns-cancel-trans{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
button{
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    border: 2px solid #194029;
    color: #ffffff;
    background: #194029;
    transition: all 0.5s ease-out;
}
button:hover{
    cursor: pointer;
    color: #194029;
    background: #efefef;
}

form button:hover {
    color: #194029;
    border: 2px solid #194029;
    background: #ffffff;
    cursor: pointer;
}

/*Para consulta de transfers*/
form h2 {
    color: #194029;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 7px 0;
}

form p {
    color: #194029;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

form .mode-consult {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 7px;
    gap: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

form .mode-consult input {
    font-size: 16px;
    border: 1px solid #194029;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
    width: 260px;
    margin-right: 20px;
}

input:focus,
textarea:focus {
    outline: 1px solid #194029af;
    /* Outline azul al hacer foco */
    box-shadow: 3px 3px 3px 3px #19402986;
}

select:focus {
    outline: 1px solid #194029b6;
    /* Outline azul al hacer foco */
    box-shadow: 3px 3px 3px 3px #19402986;
}

/*Para resultados dela busqueda*/
.data-transfers-get {
    color: #194029;
}

.data-transfers-get h1 {
    padding: 5px;
}

table {
    width: 100%;
    /* Ancho de la tabla */
    border-collapse: collapse;
    /* Para quitar el espacio entre celdas */
}

table th,
table td {
    border: 1px solid #ecfecf;
    /* Borde de las celdas */
    padding: 8px;
    /* Espaciado interno */
    text-align: center;
    /* Alineación del texto */
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

table td img:hover {
    border: 2px solid #1940299a;
    border-radius: 50%;
    cursor: pointer;
}

table th {
    background-color: #194029;
    /* Color de fondo de los encabezados */
    color: #ecfecf;
    /* Color del texto de los encabezados */
    text-align: center;
}

table .rechazo:hover {
    background-color: rgba(209, 12, 12, 0.692);
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Color de fondo para filas pares */
}

table tr:hover {
    background-color: #19402969;
    /* Color de fondo al pasar el ratón */
    color: #070606;
}

/*Opciones de usuario*/
.opciones-user {
    display: none;
    position: absolute;
    top: 52px;
    right: 10px;
    width: 270px;
    background: #ecfecf;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.optiones-user-active{
    display: block;
}

.opciones-user ul li{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #194029;
    margin: 7px;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: #ecfecf;
}
.opciones-user ul li img{
    margin: 0 5px;
}
.opciones-user ul li:hover {
    background-color: #194029;
    color: #efefef;
    cursor: pointer;
}
/*Anuladas*/
tbody .anulada{
    background-color: #e63a1cb6 !important;
}
.anulada:hover{
    background-color: #e63a1cb6;
}
/*Reportes*/
.reportes-diarios{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 17px;
}
.general-report{
    color: #194029;
}
.general-report h1{
    font-size: 30px;

}
.total-reports{
    padding: 20px;
    text-align: center;
    background-color: #194029;
    border-radius: 20px;
    color: #ecfecf;
}
.total-reports h2{
    font-size: 30px;
}
/*Stilos para cambio de clave*/
#cambiar-pass img {
    pointer-events: none;
}
.form-change-password{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #194029;
    min-height: 60vh;
}
.form-change-password .form-change-pass{
    border: 2px solid #194029;
    padding: 20px;
    border-radius: 10px;
    background-color: #efefef;
}

.form-change-password .form-change-pass div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.form-change-password .form-change-pass div label,
.form-change-password .form-change-pass div input{
    font-size: 20px;
    color: #194029;
}
.form-change-password .form-change-pass div input{
    border: 1px solid #194029;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}
.form-change-password .form-change-pass{
    text-align: center;
}
.form-change-password .form-change-pass div input[type="submit"]{
    align-self: center;
    margin-top: 20px;
    transition: all 0.5s ease-out;
}
.form-change-password .form-change-pass div input[type="submit"]:hover{
    background: #194029;
    color: #efefef;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px #19402986;

}

/*Peril style*/
#profile-user img {
    pointer-events: none;
}
.user-data-profile{
    display: flex;
    flex-direction: column;
    color: #194029;
    justify-content: center;
    flex-wrap: wrap;
}
.user-data-profile h1, .user-data-profile .personal-data h2{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 0;
}
.user-data-profile .personal-data h2{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 0;
    text-transform: capitalize;
}
.user-data-profile .personal-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.user-data-profile .personal-data .other-data-user{
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px #1940292f;
    padding: 20px;
}
.user-data-profile .personal-data img{
    border: 2px solid #194029a2;
    border-radius: 50%
}
.user-data-profile .personal-data p{
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 7px 0;
}
.user-data-profile .personal-data span{
    display: inline-block;
    text-transform: uppercase;
    margin: 5px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.user-data-profile .personal-data input{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    max-width: 350px;
}
.user-data-profile button{
    align-self: center;
}

.footer {
    font-size: 16px;
    background: #dbdbdb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: 3px solid #194029;
    color: #194029;
}

.footer .social-media img {
    margin: 0 8px;
}